@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
main {
  background: #222125;
}

.about .shadow {
  position: absolute;
  bottom: 100%;
  height: 300px;
  width: 100%;
  left: 0;
  z-index: 20;
  background: linear-gradient(to top, #151515, transparent);
}
.about .opacity {
  opacity: 0;
}
.about .container {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.about .container .content {
  color: #fff;
  transform: translateY(-50px);
}
.about .container .content .title {
  font-weight: 600;
  font-size: 300px;
  position: relative;
  z-index: 0;
  color: rgba(89, 89, 89, 0.5);
  transform: translate(-90px, -250px) rotate(-90deg);
}
.about .container .content .title-description {
  position: absolute;
  top: 220px;
  left: 270px;
  width: 325px;
  font-style: italic;
  font-weight: bold;
  line-height: 63px;
  font-size: 32px;
  text-align: center;
}
.about .container .content .text {
  margin-left: 230px;
  width: 617px;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
.about .container .imgContainer {
  transform: translateY(50px);
}
.about .container .imgContainer img {
  width: 100%;
  transform: scaleX(-1);
}

.skills .container {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.skills .container .content {
  color: #fff;
  transform: translateY(-50px);
}
.skills .container .content .title {
  font-weight: 600;
  font-size: 300px;
  position: relative;
  z-index: 0;
  color: rgba(89, 89, 89, 0.5);
  transform: translate(-90px, -250px) rotate(-90deg);
}
.skills .container .content .title-description {
  position: absolute;
  top: 220px;
  left: 270px;
  width: 325px;
  font-style: italic;
  font-weight: bold;
  line-height: 63px;
  font-size: 32px;
  text-align: center;
}
.skills .container .content .text {
  margin-left: 230px;
  width: 617px;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
.skills .skill-content .text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-style: italic;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}
.skills .skill-content .text .fronte {
  width: 252px;
  height: 72px;
  transform: translateY(-120px) rotate(-90deg);
}
.skills .skill-content .text .fronte .img-front {
  display: flex;
  gap: 25px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 132px;
  height: 32px;
  transform: translate(70px, 150px) rotate(90deg);
}
.skills .skill-content .text .back {
  width: 252px;
  height: 72px;
  transform: translateY(120px) rotate(-90deg);
}
.skills .skill-content .text .back .img-back {
  display: flex;
  gap: 25px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 133px;
  height: 32px;
  transform: translate(65px, 150px) rotate(90deg);
}

.Ui .container {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.Ui .container .content {
  color: #fff;
  transform: translateY(-50px);
}
.Ui .container .content .title {
  font-weight: 600;
  font-size: 300px;
  position: relative;
  z-index: 0;
  color: rgba(89, 89, 89, 0.5);
  transform: translate(-90px, -250px) rotate(-90deg);
}
.Ui .container .content .title-description {
  position: absolute;
  top: 220px;
  left: 220px;
  width: 325px;
  font-style: italic;
  font-weight: bold;
  line-height: 63px;
  font-size: 32px;
  text-align: center;
}
.Ui .container .content .text {
  margin-left: 230px;
  width: 617px;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
.Ui .ui-content .text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-style: italic;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}
.Ui .ui-content .text .ui {
  width: 371px;
  transform: translateY(-50px) rotate(-90deg);
}
.Ui .ui-content .text .ui .img-Ui {
  display: flex;
  gap: 120px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 133px;
  height: 42px;
  transform: translate(120px, 150px) rotate(90deg);
}

@media screen and (max-width: 500px) {
  .about .container {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-content: center;
  }
  .about .container .content {
    color: #fff;
    transform: translateY(-50px);
  }
  .about .container .content .title {
    width: 200px;
    font-size: 150px;
    color: rgba(89, 89, 89, 0.5);
    transform: translateX(100px) rotate(0deg);
  }
  .about .container .content .title-description {
    top: 100px;
    left: 25px;
    line-height: 31px;
    font-size: 16px;
    text-align: center;
  }
  .about .container .content .text {
    width: 300px;
    margin-left: 25px;
    text-align: center;
    font-size: 12px;
  }
  .about .container .imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(0);
  }
  .about .container .imgContainer img {
    width: 100%;
  }

  .skills .container {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-content: center;
  }
  .skills .container .content {
    color: #fff;
    transform: translateY(-50px);
  }
  .skills .container .content .title {
    width: 200px;
    font-size: 150px;
    color: rgba(89, 89, 89, 0.5);
    transform: translateX(75px) rotate(0deg);
  }
  .skills .container .content .title-description {
    top: 100px;
    left: 10px;
    line-height: 31px;
    font-size: 16px;
    text-align: center;
  }
  .skills .container .content .text {
    width: 300px;
    margin-left: 25px;
    text-align: center;
    font-size: 12px;
  }
  .skills .skill-content .text {
    font-size: 24px;
  }
  .skills .skill-content .text .fronte {
    width: 252px;
    height: 72px;
    transform: translate(-50px, 15px) rotate(0deg);
  }
  .skills .skill-content .text .fronte .img-front {
    display: flex;
    gap: 10px;
    transform: translate(70px, 100px) rotate(0deg);
  }
  .skills .skill-content .text .back {
    width: 200px;
    height: 72px;
    transform: translate(125px, -97px) rotate(0deg);
  }
  .skills .skill-content .text .back .img-back {
    gap: 10px;
    transform: translate(70px, 100px) rotate(0deg);
  }

  .Ui .container {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-content: center;
  }
  .Ui .container .content {
    color: #fff;
    transform: translateY(-50px);
  }
  .Ui .container .content .title {
    width: 200px;
    font-size: 150px;
    color: rgba(89, 89, 89, 0.5);
    transform: translateX(75px) rotate(0deg);
  }
  .Ui .container .content .title-description {
    top: 100px;
    left: 10px;
    line-height: 31px;
    font-size: 24px;
    text-align: center;
  }
  .Ui .container .content .text {
    width: 300px;
    margin-left: 25px;
    text-align: center;
    font-size: 12px;
  }
  .Ui .ui-content .text {
    font-size: 24px;
  }
  .Ui .ui-content .text .ui {
    transform: translate(-10px, -15px) rotate(0deg);
  }
  .Ui .ui-content .text .ui .img-Ui {
    gap: 50px;
    transform: translate(150px, 100px) rotate(0deg);
  }
}
.contact-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-content .content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contact-content .content .img img {
  height: 500px;
  border-radius: 10px;
}
.contact-content .content .text {
  color: #fff;
}
.contact-content .content .text a {
  color: #fd0000;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.header nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 0;
  z-index: 30;
  background: linear-gradient(to bottom, rgba(43, 43, 43, 0.5), transparent);
}
.header nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70rem;
  padding: 0 2rem;
  margin: 0 auto;
}
.header nav .container .logo a {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}
.header nav .container .hamburger-menu {
  width: 5rem;
  height: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  z-index: 999;
}
.header nav .container .hamburger-menu:hover .bar {
  width: 1rem;
  transition: all 0.5s;
}
.header nav .container .hamburger-menu .bar {
  position: relative;
  width: 1.55rem;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
}
.header nav .container .hamburger-menu .bar:before, .header nav .container .hamburger-menu .bar:after {
  content: "";
  position: absolute;
  width: 1.55rem;
  height: 3px;
  right: 0;
  background-color: #fff;
  border-radius: 2px;
}
.header nav .container .hamburger-menu .bar:before {
  transform: translateY(-8px);
}
.header nav .container .hamburger-menu .bar:after {
  transform: translateY(8px);
}
.header nav .container .hamburger-menuOpen {
  z-index: 500;
  position: absolute;
  left: 0;
  width: 100vw;
}
.header nav .container .hamburger-menuOpen .navLinks {
  width: 100vw;
  gap: 15vh;
  transition: all 2s;
}
.header nav .container .hamburger-menuOpen .navLinks .btn {
  display: none;
}
.header nav .container .hamburger-menuOpen .navLinks .btn > a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}
.header nav .container .hamburger-menuOpen .navLinks .btn > a:hover {
  color: rgba(0, 0, 0, 0.644);
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
  transition: all 0.5s;
}
.header nav .container .menuOpen {
  top: 5vh;
}
.header nav .container .menuOpen .navLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 5vh;
  gap: 10vw;
  transition: all 2s;
}
.header nav .container .menuOpen .navLinks .btn {
  display: block;
}
.header .big-title {
  position: absolute;
  z-index: 30;
  line-height: 4rem;
  top: calc(50% - 2rem);
  width: 100%;
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  color: #fff;
}
.header .clouds {
  position: absolute;
  z-index: 11;
  opacity: 0.5;
}
.header .forg {
  width: 100%;
  position: absolute;
  left: 50px;
  bottom: -150px;
  z-index: 10;
}
.header .bg {
  position: absolute;
  width: 100%;
  bottom: -100px;
  left: 0;
  z-index: 9;
}
.header .social-icon {
  position: absolute;
  bottom: 100px;
  right: 100px;
  display: flex;
  gap: 25px;
  z-index: 50;
}
.header .social-icon > div a i {
  position: relative;
  color: #fff;
  font-size: 32px;
}

@media screen and (max-width: 500px) {
  header {
    width: 100vw;
    height: 100vh;
  }
  header:after {
    width: 100vw;
    height: 100vh;
  }
  header nav {
    width: 100vw;
    padding: 0.5rem 0;
  }
  header nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 40rem;
  }
  header nav .container .logo a {
    font-size: 2rem;
  }
  header nav .container .hamburger-menuOpen .navLinks .btn > a {
    font-size: 14px;
  }
  header nav .container .menuOpen {
    top: 0;
    bottom: calc(100% - 100vh);
    width: unset;
    transition: 0.5s all;
    background-color: #000;
    z-index: 100;
  }
  header nav .container .menuOpen .navLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 70vh;
    gap: 10vh;
  }
  header nav .container .menuOpen .navLinks .btn {
    display: block;
  }
  header .big-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    position: relative;
    z-index: 25;
  }
  header .clouds {
    width: 100vw;
    height: 100vh;
    opacity: 0.8;
  }
  header .forg {
    width: 1000px;
    height: 100vh;
    left: -280px;
  }
  header .bg {
    width: 100vw;
    height: 120vh;
    object-fit: cover;
  }
  header .social-icon {
    bottom: 150px;
    right: 100px;
    z-index: 26;
  }
  header .social-icon > div a i {
    font-size: 32px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  text-decoration: none;
  list-style: none;
}

/*# sourceMappingURL=style.css.map */
