.contact-content{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .content{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .img{
            img{
                height: 500px;
                border-radius: 10px;
            }
        }

        .text{
            color: #fff;
            
            a{
                color: rgb(253, 0, 0);
                text-decoration: none;
            }
        }
    }
}


@media screen and (max-width: 500px){

    .contact-content{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    
        .content{
            width: 100%;
            display: flex;
            gap: 5vh;
            flex-wrap: wrap;
    
            .img{
                img{
                    height: 400px;
                    border-radius: 10px;
                }
            }
    
            .text{
                color: #fff;
                
                a{
                    color: rgb(253, 0, 0);
                    text-decoration: none;
                }
            }
        }
    }
}